 
     <div style="font-size: 14px;width:700px;margin-bottom: 0px;">
         <fieldset>
             <legend>Please identify the reason why you wish to FORCE ADD this appointment?</legend>
             <br>
            <input onclick="$('#forceaddbutoon').show();reason=$(this).val();" type="radio" name="forceAddReason" value="The day has been finalised">The day has been finalised<br>
            <input onclick="$('#forceaddbutoon').show();reason=$(this).val();" type="radio" name="forceAddReason" value='The Insert Appointment option will not allow me to book this appointment'>The "Insert Appointment" option will not allow me to book this appointment<br>
            <input onclick="$('#forceaddbutoon').show();$('#forceaddTextP').show();$.colorbox.resize();reason=$(this).val();" type="radio" name="forceAddReason" value="Other">Another reason<br>
       <br>
       <p id="forceaddTextP" style="display:none">
           <label>Please write a brief description of the reason:</label>
       <textarea id="forceaddText" name="forceaddText"  style="width:600px;height:200px;"></textarea>
       </p>
           <button id="forceaddbutoon" placeholder="Another reason"  type=button class="btnStandard"  onclick="setForceReason()" style="width:200px;float:left;display:none"><span class="label">Proceed to Booking</span></button>   
           
           
         
       
        </fieldset>
       </div> 
<script>
    var reason
    function setForceReason()
    {
        if(reason=="Other"){
        reason=$('#forceaddText').val();
       
        }
     $.post("{$_subdomain}/Diary/addAppointmentForceReasonSet",{ 'reason':reason },
function(data) {

$.colorbox({ html:data, title:"Force Add New Appointment",escKey: false,
    overlayClose: false,onComplete:function(data){
		
			$('#tfrom').timepicker();
		$('#tfrom2').timepicker();
    
    $('#tTo').timepicker();
    $('#tTo2').timepicker();
    //create slider
       $("#slider").slider({
      min: 0, //minimum value
      max: 10, //maximum value
      value: $("#importance").val(), //default value
      slide: function(event, ui) {
           $("#importance").val(ui.value);
          }
      });
    }});
    }
    );
    }
</script>