
<div class="span-3">Catalogue No</div>
<div class="span-5 last">{$Product->search_result['CatalogueNo']}</div>   
<div class="clear"></div>
<div class="span-3">Description</div>
<div class="span-5 last">{$Product->search_result['Description']}</div>       

<div class="clear"></div>
<a id="select" href="#">Select Item</a>
